# Ignore Git
.git
.gitignore

# Ignore Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.ruff_cache/

# Ignore Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js

# Ignore IDE files
.idea/
.vscode/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore sample config files
*.sample
